//	----------------------------------------------------------------------------------------------------
//
//	 Ajustes generales landing
//
//  ----------------------------------------------------------------------------------------------------


body {
	font-family: 'Montserrat';

	.link {
		color: #fff; 
		font-size: 22px;
		margin-top: 20px;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
	}
}


// Header

header {
	padding: 25px 0 20px 0;
	border-bottom: 1px solid #b1cbec;
	position: sticky; 
	top: 0;

	z-index: 10;
	&.fixed-header {
		background-color: #fff; 
		transition: .5s;

		.link {
			color: #ff8000;
		}
	}

}

// Estilos de los titulares

.h1 {
	font-weight: 600; 
	font-size: 3.6rem; 
	color: #fff; 
	text-align: center; 
	margin-bottom: 30px; 
}

.h2 {
	text-align: center; 
	color: #fff; 
	font-size: 1.6rem; 
	font-weight: 600; 
	margin-bottom: 40px; 
	letter-spacing: 1px 
}

.h3 {
	font-size: 1.9rem; 
	text-align: center; 
	color: #535353;
}


// Estilos textos, listados, etc..

.list-inline {
	margin: 0 auto; 
	text-align: center;
	margin-bottom: 70px;
	li {
		display: inline; 
		color: #fff; 
		font-size: 15px; 
		margin-right: 15px; 

		&:last-child {
			margin-right: 0;
		}
	}
}

// Helpers 
.pull-right {
	float: right; 
}


// Contenido landing

.content-renta {
	background-image: url('../img/main-landing.jpg');
	width: 100%; 
	height: auto;
	background-size: cover; 
	min-height: 100vh;
	background-position: center;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(0,0,0,.3);
		z-index: 0;
	}
	> div {
		z-index: 1;
		position: relative;
	}
}


// Formulario 

.section-form {
	padding: 40px 0;
	margin-bottom: 50px;
}

legend {
	font-weight: 600; 
	color: #fff; 
	font-size: 1.4rem; 
	letter-spacing: 1px; 
}

.form-group {
	.form-control {
		display: block; 
		border: none; 
		width: 100%;
		margin-bottom: 10px; 
		padding: 10px 16px; 
		font-size: 1.4rem; 
		color: #6f6f6f;
		&.error {
			border: 2px solid  #ff8000;
		}
	}
	label.error {
		color: #ff8000;
		font-size: 14px;
		// padding: 5px 0;
		margin-bottom: 10px;
	}
}

.form-check {
	float: left; 
	margin-top: 10px; 
	label {
		color: #fff; 
		font-size: 1.2rem; 
		font-weight: 400;
		a {
			color: #fff; 
			text-decoration: underline; 
		}
	}

	input[type="checkbox"] {
		-webkit-appearance: checkbox; 
	}
}


// Buttons

.btn-primary {
	background-color: #e4821e; 
	color: #fff; 
	border: none; 
	padding: 12px 64px; 
	font-size: 12px; 
	letter-spacing: 1px; 
}

.btn-submit {
	float: right;
}

// Contact offices

.block-office {
	display: inline-block; 
	background-color: rgba(255,255,255,.7);
	padding: 20px 0 12px 0;
	border-radius: 4px;  
	text-align: center; 
	width: 288px;
	margin-bottom: 50px;
	border: 1px solid #cbcbcb; 

	p {
		font-size: 1.4rem; 
		color: #626262; 
		line-height: 1.8rem; 
	}

	.phone {
		background-color: #ff8000;
		font-size: 2.1rem; 
		color: #fff; 

		a {
			color: #fff; 
			&:hover {
				text-decoration: none; 
			}
		}
	}
}


// Footer 

footer {
	border-top: 10px solid #ff8000; 
	background-color: rgba(0,0,0,.7);
	padding: 20px 0;
	font-size: 15px;
	color: #b1b1b1;

	z-index: 1;
	position: relative;
	span {
		color: #ff8000;
		font-weight: 600;
	}

	a {
		font-size: 1.2rem; 
		color: #fff; 
		text-decoration: underline; 
		transition: .3s;

		&:hover {
			color: #b1b1b1; 
		}
	}
}



